body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
   
}
.half-width{
    width: 50%;
    padding: 5px;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 15px;
}
.About-Me{
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
text-align: center;

}
.nice{
    width: 300px;
    border-radius: 20px;
}
.magenta-color{
    color:magenta;
}
.food{
text-align: center;
background-color: rebeccapurple;
}
.shadow{
    box-shadow: 10px 10px 30px gray;
    margin-left: 10px;
    border-radius:  10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
}
